.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero img {
    width: 180px;
    border-radius: 50%;
    border: 3px solid rgb(43, 42, 42);
    transition: 0.3s;
}

.hero img:hover {
    transform: scale(1.05);
}

.hero h1 {
    text-align: center;
    width: 60%;
    font-size: 50px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 8px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    cursor: pointer;
    transition: 0.3s;
}

.hero-connect:hover {
    transform: scale(1.05);
    border: 2px solid white;
}

.hero-resume {
    padding: 8px 70px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}

.hero-resume:hover {
    transform: scale(1.05);
    border: 2px solid #b415ff;
}