.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 8rem 170px 1rem;
}

.contact-title {
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 2.5rem;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 150px;
}

.contact-section {
    display: flex;
    gap: 4rem;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-left h1 {
    position: relative;
    right: 2.8rem;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 12rem;
    color: #d8d8d8;
    font-size: .8rem;
    line-height: 25px;
    margin: 10px 0;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
    color: #d8d8d8;
}

.contact-detail {
    display: flex;
    transition: 0.2s;
    cursor: pointer;
    
}


.contact-detail:hover {
    transform: scale(1.1);
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
}

.contact-right label {
    width: 100%;
    color: #d8d8d8;
    font-size: 1rem;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 350px;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: .8rem;
}

.contact-right textarea {
    width: 328px;
    height: 5rem;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    background: #32323c; 
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 1rem;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 1rem;
    padding: .5rem 1rem;
    margin: .8rem 0;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


@media(max-width: 768px) {

    .contact {
        margin: 8rem auto 1rem;

        

    }


    .contact-section {
        flex-direction: column;
    }
    
}