.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 170px;
}

.navbar h1 {
    background: linear-gradient(270deg, #DF8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   

}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 16px;
}

.nav-connect{
    padding: 16px 24px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-connect:hover {
    transform: scale(1.05);
}
