.footer {
    width: 100%;
    margin: 2rem auto 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    box-shadow: 1px 0 8px -2px black;
    background: #212120;
    opacity: .7;
    position: relative;
    z-index: 1;
    
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

.footer-top-left p {
    font-size: .8rem;
    max-width: 18rem;
}

.footer-top-right {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 1rem;
    
}

.footer-email-input {
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: 50px;
    background: #32323b;
    
}

.footer-email-input:hover {
    border: 2px solid white;
    
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: .8rem;
}

.footer-subscribe {
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 50px;
    background: linear-gradient(64deg, #df8908 -5.09%, #b415ff 106.28%);
    cursor: pointer;
    transition: 0.3s;

}

.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
}

.footer-bottom-right {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.footer hr {
    width: 100%;

}

.footer h1 {
    font-size: 1.5rem;
    margin: 5px 0;
    background: linear-gradient(270deg, #DF8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

